# Bytecode
__pycache__/
*.py[cod]
*.swp

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pytest
.cache

py-lint.log
scripts/wz_tooltip.js
