[MESSAGES CONTROL]

disable = trailing-whitespace,    # In copyrights
          invalid-name,           # Short variables like 'v'
          unused-wildcard-import, # For 'from ... import ...'
          global-statement,       # In error.py
          fixme,                  # TODO/FIXME
          unspecified-encoding,   # Rely on default UTF-8
          unused-import,          # For 'from error import ....'
          unused-argument,        # Intentional
          redefined-builtin,      # 'id'
          duplicate-code,         # deadline attribute handling in goal/schedule
          no-self-use,            # Virtual bases have empty bodies
          missing-class-docstring, missing-function-docstring, # TODO: add docstrings
          logging-fstring-interpolation,                       # TODO: what's this?
          too-many-locals, too-many-branches, too-many-boolean-expressions, too-many-instance-attributes,
          too-many-arguments, too-many-nested-blocks, too-many-statements, too-few-public-methods

[FORMAT]

indent-string = '  '

[IMPORT]

allow-wildcard-with-all = yes
